#skip-links {
  a {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }
}
#skip-links a:focus,
#skip-links a:active {
  color: #fff;
  background-color: #000;
  left: 0;
  top: 0;
  width: 30%;
  height: auto;
  overflow: auto;
  padding: 5px;
  border: 4px solid #c5c9af;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
#skip-links a.desktop {
  display: none;
  @media #{$desktop-break} {
    display: initial;
  }
}
